@model tms_lib.Employee

    
<html>
    <head>
        <link rel = "stylesheet" href="~/css/employee.css" />
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
        <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
        <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
        <script type="text/javascript">
        $(function() {
        var date = new Date();
        var currentMonth = date.getMonth();
        var currentDate = date.getDate();
        var currentYear = date.getFullYear();
        $('#employeeDob').datepicker({
        maxDate: new Date(currentYear, currentMonth, currentDate)
        });
        });
        </script>
           </head>
           <body>
               <h1 class="page_heading">Add Employee</h1>
        <form class="add_form_body" method="post">
            <div class="add_form">
             <label class="add_label">Name</label>
             <input type="text" asp-for="Name" placeholder="Enter Name"  class="add_input" />
             <span asp-validation-for=Name></span> <br /> 

            <label class="add_label">Enter Email</label>
            <input type="email"  required asp-for="EmailId" placeholder="john@gmail.com" class="add_input" /> 
             <span asp-validation-for=EmailId></span> 
             <span>@ViewBag.isEmailExistError</span>

            <label class="add_label">Password</label>
            <input type="password" asp-for="Password" placeholder="Enter Password" class="add_input"/>
            <span asp-validation-for=Password></span>  

            <label class="add_label">Enter gender</label>
            <select asp-for="Gender" required class="add_drop_down" >
                 <option  value=true>Female</option>
                 <option  value=false>Male</option>
                 </select>  
                
            <label  class="add_label">Enter dob</label>
            <input type="date" id="employeeDob" required asp-for="DateOfBirth" class="add_input"/>
            <label  class="add_label">Enter phone</label>
            <input  type="tel" required asp-for="PhoneNo" class="add_input"/>
            <span asp-validation-for=PhoneNo></span> 
            <label  class="add_label">Enter mangerid</label>
            <select asp-for="ManagerId" required class="add_drop_down" >
                 @foreach(var item in ViewBag.manId){
                 <option required  value="@item">@item</option>
                 }
                </select>
                
            <div>
            <input class="add_button" type="submit" value="submit"/>
            </div>
        </form>
        </div>
        <p class="message">@ViewData["Message"]</p>
     
    </body>
</html>