
 <html>
    <head>
        <link rel = "stylesheet" href="~/css/employee.css" />
           </head>
           <body>
               <h1 class="page_heading">Send Email</h1>
         <form class="add_form_body" method="post">
            <div class="add_form">
             <label class="add_label">Subject</label>
             <input type="text" name="subject" placeholder="Enter Subject"  class="add_input" />
            <label class="add_label">Email Body</label>
            <input type="text"  required name="body" class="add_input" /> 
            <input class="add_button" type="submit" value="submit"/>    
           </div>
        </form>
    </body>
</html>
